<a href="https://colab.research.google.com/github/Pithak0003/kku_data_mining/blob/master/Data103_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:



import numpy as np

#numpy array

In [ ]:
np1= np.array([[1,3,5],[2,4,6]])
np1

In [ ]:
np2 = np.array([[1,2],[3,5],[2,0],[4,5]])
np2

In [ ]:
np2.T

In [ ]:
np2[0,:]

##HW 6 
สร้าง Distance metrix ( Euclidean ) ของ np2
โดยสร้าง function สำหรับคำนวณ Euclidean Distance

In [ ]:
def Euclidean(data1,data2):
    distX = pow((data1[0]-data2[0]),2)
    distY = pow((data1[1]-data2[1]),2)
    return math.sqrt(distX+distY)

In [ ]:
dist_math1 = np.zeros((4,4))
dist_math1

In [ ]:
import math

In [ ]:
for i in range(4):
    for j in range(4):
        dist_math1[i,j] = Euclidean(np2[i,:],np2[j,:])
dist_math1

In [ ]:
import math

In [ ]:
def Manhattan(data1,data2):
    distX = abs(data1[0]-data2[0])
    distY = abs(data1[1]-data2[1])
    return distX+distY

In [ ]:
Manhattan(np2[0,:],np2[1,:])

In [ ]:
5*np.ones((4,4))

In [ ]:
dist_mat = np.zeros((4,4))
dist_mat

In [ ]:
for i in range(4):
    for j in range(4):
        dist_mat[i,j] = Manhattan(np2[i,:],np2[j,:])

dist_mat

##Distance of nominal or categorical features

##(extra) Python data stucture (Dictionary)

In [ ]:
d_a = {'a' : 1,2:3,3:5,'cat':6}

In [ ]:
d_a

In [ ]:
d_a['cat']

In [ ]:
d_a ['dog'] = [1,2,3,4,5]

In [ ]:
d_a

In [ ]:
d_a['dog']

In [ ]:
import pandas as pd

In [ ]:
data_dict ={'color':['red','red','green'],'status':['single','married','single']}
data_dict

In [ ]:
data_pd = pd.DataFrame.from_dict(data_dict)
data_pd

##Categorical feature distance method#1

In [ ]:
list(data_pd.iloc[1,:])

การเรียกค่าเเต่ละเดต้าพอยมา

In [ ]:
def meth1_dist(data1,data2):
    N = 0
    print(f'data1 is {data1} and data2 is {data2} ')
    for i in range(len(data1)):
        print(f'feature1 of data1 is {data1[i]} , feature1 of data2 is {data2[i]}')
        if data1[i] ==data2[i]:
            N=N+1
            print(f'{data1[i]} is equal {data2[i]} : updated ({N})')
        else:
             print(f'{data1[i]} is equal {data2[i]}')
    return N/len(data1)

In [ ]:
meth1_dist(list(data_pd.iloc[0,:]),list(data_pd.iloc[1,:]))

##HW7 calculate distance matrix fo data_pd using meth1_dist()

##Categorical feature distance method#2

In [ ]:
pd.get_dummies(data_pd)

In [ ]:
def binary_sym_dist(data1,data2):
  q=0
  rs=0
  t=0
  for i in range(len(data1)):
      if data1[i] == data2[i]:
          if data1[i] == 1 :
              q = q + 1
          else:
              t = t + 1
      if data1[i] != data2[i]:
          rs= rs + 1

  return (rs)/(q+rs+t)

เแ็นการคำนวณหา q r s t เเละการวนลูป ยังไง งงๆ

In [ ]:
binary_sym_dist(list(data_pd.iloc[0,:]),list(data_pd.iloc[1,:]))

##HW8 calculate distance matrix of data_pd_binary using binary_sym_dist()

##30/09/2563

##ไปทำมาใหม่ ทำความเข้าใจใหม่ตั้งเเต่เเรก

In [ ]:

import pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = '/content/drive/My Drive/DWDM_material'

In [ ]:

import os

In [ ]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [ ]:

search_click_df = pandas.read_csv(search_click)

In [ ]:
search_click_df.head()

In [ ]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

In [ ]:
search_click_df.shape

In [ ]:
w_restaurant_df.shape

In [ ]:
search_click_df['search_id']

In [ ]:
search_click_df['search_id'][0]

In [ ]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

In [ ]:
search_click_df.iloc[0,1]

In [ ]:
search_click_df.iloc[:10,:2]

In [ ]:
search_click_df.isnull()

In [ ]:
search_click_df.isnull().any()

In [ ]:
search_click_df_nm = search_click_df.dropna()

In [ ]:
search_click_df_nm.isnull().any().any()

In [ ]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

In [ ]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

In [ ]:
w_restaurant_df.isnull().any()

In [ ]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

In [ ]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

In [ ]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
new_table[selected_list].head()

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

In [ ]:
bkk_table_dp_avg_price.mean()

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

In [ ]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

In [ ]:
pd_concat=pandas.concat([bkk_table,cm_table])
pd_concat

In [ ]:
set(new_table['city_name'])

In [ ]:
all_cities = set(new_table['city_name'])
len(all_cities)

In [ ]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

In [ ]:
all_cities_list = []
for each_city in list(all_cities):

    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

In [ ]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

In [ ]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

##Quiz วาด boxplot ของ ค่า 'avg_price' ของตาราง all_no_missing (เเนวนอน)

In [ ]:
from matplotlib import pyplot as ret

In [ ]:
ret.boxplot(all_no_missing['avg_price'],vert=False)

In [ ]:
ret

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]]
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']>=ret['whiskers'][1].get_xdata()[1]]
nooutlier_nomissing

##merge two tables (.merge())

In [ ]:
merged_table = search_click_df.merge(w_restaurant_df,how = 'left',left_on='business_id',right_on='id')
merged_table

#copy a column from other (.map())

In [ ]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])
search_click_df

In [ ]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

### [PD] groupby()

In [ ]:
search_click_df.groupby('business_id').count()

In [ ]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

In [ ]:
w_restaurant_df[w_restaurant_df['id']==182530.0]

##Quiz 2

In [ ]:
search_click_df.groupby('city').count().sort_values('click_timestamp',ascending=False)

In [ ]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')
merged_table